label {
    display: block;
}
.skill-title{
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 30px;
    padding: 10px 0;
}
.progress.progress-xxs {
    height: 3px;
}