
body {
    padding-top: 70px; 
}

.item-img {
	-webkit-box-shadow: 6px 6px #666;
    -moz-box-shadow: 6px 6px #666;
    box-shadow: 6px 6px #666;
    min-width: 700px;
    max-height: 800px;
}

.portfolio-item {
	-webkit-box-shadow: 4px 4px #666;
    -moz-box-shadow: 4px 4px #666;
    box-shadow: 4px 4px #666;
    margin-bottom: 25px;
}

h5 {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}

footer {
    margin: 50px 0;
}