
body {
    padding-top: 70px; 
}

.portfolio-item {
	-webkit-box-shadow: 6px 6px #666;
    -moz-box-shadow: 6px 6px #666;
    box-shadow: 6px 6px #666;
    min-width: 240px;
    min-height: 300px;
    margin-bottom: 25px;
}

.col-sm-3, .col-xs-6 {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 14px;
	padding: 1em 5em 1em 3em;
}

footer {
    margin: 50px 0;
}